<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <title th:text="${appName}">My Application</title>
    <script src="https://unpkg.com/htmx.org@2.0.3"
        integrity="sha384-0895/pl2MU10Hqc6jd4RvrthNlDiE9U1tWmX7WRESftEDRosgxNsQG/Ze9YMRzHq"
        crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light sticky-top" style="background-color: #e3f2fd;">
            <div class="container-fluid">
              <a class="navbar-brand" href="/">SOS - ETSEIB</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div>
                <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav">
                    <li class="nav-item" th:if="${isUserLogged}">
                        <a class="nav-link" href="/sign-out">
                            <button class="btn btn-primary" type="button">
                                Dona'ns feedback
                            </button>
                        </a>
                    </li>
                    <li class="nav-item" th:if="${isUserLogged}">
                        <a class="nav-link" href="/sign-up">
                            <button class="btn btn-outline-primary" type="button">
                                Tanca sessió
                            </button>
                        </a>
                    </li>
                    <li class="nav-item" th:if="${!isUserLogged}">
                        <a class="nav-link" href="/sign-in">
                            <button class="btn btn-primary" type="button">
                                Inicia sessió
                            </button>
                        </a>
                    </li>
                    <li class="nav-item" th:if="${!isUserLogged}">
                        <a class="nav-link" href="/sign-up">
                            <button class="btn btn-outline-primary" type="button">
                                Registra't
                            </button>
                        </a>
                    </li>
                  </ul>
              </div>
            </div>
            </div>
          </nav>
    </header>
    <div class="container d-flex flex-column align-items-center justify-content-center pt-4">
        <div layout:fragment="content">
        </div>
    </div>

    <footer class="bg-body-tertiary text-center fixed-bottom">
        <div class="container p-4"></div>
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
            © 2024 Copyright:
            <a class="text-body" href="https://mdbootstrap.com/">SOS - ETSEIB</a>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

</body>

</html>