<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="${isHtmxRequest} ? null : 'layout'">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}">Login Page</title>
    <meta layout:fragment="head" />
</head>

<body>
    <div layout:fragment="content" id="auth-card">
        <div class="card text-center">
            <div class="card-header">
                <ul class="nav nav-pills card-header-pills">
                    <li class="nav-item">
                        <a class="nav-link active" hx-trigger="click" hx-get="/sign-in" hx-target="#auth-card"
                            hx-swap="outerHTML" hx-replace-url="true">
                            Inicia Sessió
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           hx-trigger="click"
                           hx-get="/sign-up"
                           hx-target="#auth-card"
                           hx-swap="outerHTML"
                           hx-replace-url="true">
                            Registra't
                        </a>
                </ul>
            </div>
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>

    </div>
</body>

</html>